[submodule "external/cityhash"]
	path = external/cityhash
	url = https://github.com/google/cityhash.git
[submodule "trt/external/spdk"]
	path = trt/external/spdk
	url = https://github.com/spdk/spdk.git
	branch = v24.09
[submodule "trt/external/liburing"]
	path = trt/external/liburing
	url = https://github.com/axboe/liburing/
